[Desktop Entry]
Type=Application
Name=Unisic
GenericName=Screenshot and Screen Recording Tool
Comment=ShareX-like screenshots, annotations, uploads and GIF recording for Wayland
Exec=unisic
Icon=org.unisic.Unisic
Terminal=false
Categories=Utility;Graphics;
StartupNotify=false
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
